<div class="sidebarContainer">

  <div id="buttonsMain">

    <button class="buttonFont" style="float: left; margin-top:20px; margin-left: 5%; width:90%;" ng-click="startUp()">Start!</button>

    <div id="buttonsChangePla" style='margin-top: 100px; float: left; width: 100%'>
      <button class="buttonFont" style="width: 50%;margin-left: 4%" ng-click="previousImage()">Previous</button>
      <button class="buttonFont" style="width: 40%;" ng-click="nextImage()">Next</button>
    </div>
    
    <div id="buttonsCounter" style="margin-top: 60px; float: left; width: 100%">

      <div style="float: left; color: #B5B5B5; margin-top: 13px; margin-left: 4%; font: 20px Verdana">Counter:  </div>
      <div id="counterLabel" style="font: bold 40px Verdana; float: left; color: #B5B5B5; margin-left: 4%">{{counter}}</div>

      <div style="float: left; width: 100%; margin-top: 5%">
        <button class="buttonFont" style="width: 15%; margin-left: 10%" ng-click="minusButtonPress()">-</button>
        <button class="buttonFont" style="width: 15%; margin-left: 10%" ng-click="plusButtonPress()">+</button>
      </div>
    </div>
  </div>
  <!-- <button class="buttonFont" ng-click="openDialog()">Popup</button> -->
  <img src="resources/imgs/planechaselogo.jpg" style="margin-left: 1%;width: 97%; margin-top: 200%" />
</div>
<img class="imageContainer" ng-src="{{mainImageUrl}}" alt="Planes & Phenomena!"/>
